$primary-color:blue;
$secondary-color:rgb(255, 165, 0);
$btn-text-color:white;
$darkBG: black;
$light-text: whitesmoke;
$dark-text: #323232;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav{
    background-color: black !important;
}
.hero-section{
    background-image: url("../img/hero.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    
}
.hero-inner-box{
    display: flex;
    flex-direction: row;
    padding-top:150px;
    color:$light-text;

    .hero-img{
       width:100%; 

       img{
           width:50%;
       }
    }
    .hero-text{
        h1{
            font-size: 3rem;
        }
        .socials{
            color: $light-text; 
    
            ul{
                display: flex; 
                flex-direction: column;
    
                li{
                    margin: 10px;
                    text-decoration: none;
                    list-style-type: none;
    
                    img{
                       width: 10%;
                       height: 100%;
                    }
                }
                
            }
        }
         
    }
    span{
        color: $secondary-color;
        height: 100px;
    }
    
}
.contact-form{
    width: 80%;
    padding: 30px;
    background-color: #eeeeeeb7;
    border-radius: 20px;

    .contact-input-box{
        margin: 20px auto;
    }
    input, textarea{
        height: 50px;
        background-color: $light-text;
        border-radius: 15px;
        border: 0;
        
    }
    legend{
        color:#323232; 
    }
    button{
        background-color: $darkBG;
        color: whitesmoke;
        border: 0;
    }
    
}


.featurette{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    div:nth-child(1){
        padding:100px;
    }
}

.featured-brands{
    img{
        width:100%
    } 
}
footer{
    background-color: $darkBG;
    padding: 50px !important;
    color: $light-text;

}







@media(max-width:723px){
    
.hero-inner-box{
    display: flex;
    flex-direction: column;
    padding-top:80px;
    color:$light-text;
    align-items: center;
    text-align: center;

    
    .hero-img{
       width:100%; 

       img{
           width:50%;
       }
    }
    .hero-text{
         
        h1{
            font-size: 2.5rem;
            font-weight: 700; 
        } 
             
        
        .socials{
             
            ul{
                display: none;
                
            }
        }
    }
    span{
        color: $secondary-color;
        height: 100px;
    }
    
}
 

 .contact-form{
     margin-bottom: 150px; 
 }

 footer{
     text-align: center;
 }

}

