* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
  background-color: black !important;
}

.hero-section {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 150px;
  color: whitesmoke;
}

.hero-inner-box .hero-img {
  width: 100%;
}

.hero-inner-box .hero-img img {
  width: 50%;
}

.hero-inner-box .hero-text h1 {
  font-size: 3rem;
}

.hero-inner-box .hero-text .socials {
  color: whitesmoke;
}

.hero-inner-box .hero-text .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-inner-box .hero-text .socials ul li {
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
}

.hero-inner-box .hero-text .socials ul li img {
  width: 10%;
  height: 100%;
}

.hero-inner-box span {
  color: orange;
  height: 100px;
}

.contact-form {
  width: 80%;
  padding: 30px;
  background-color: #eeeeeeb7;
  border-radius: 20px;
}

.contact-form .contact-input-box {
  margin: 20px auto;
}

.contact-form input, .contact-form textarea {
  height: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
  border: 0;
}

.contact-form legend {
  color: #323232;
}

.contact-form button {
  background-color: black;
  color: whitesmoke;
  border: 0;
}

.featurette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featurette div:nth-child(1) {
  padding: 100px;
}

.featured-brands img {
  width: 100%;
}

footer {
  background-color: black;
  padding: 50px !important;
  color: whitesmoke;
}

@media (max-width: 723px) {
  .hero-inner-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    color: whitesmoke;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero-inner-box .hero-img {
    width: 100%;
  }
  .hero-inner-box .hero-img img {
    width: 50%;
  }
  .hero-inner-box .hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .hero-inner-box .hero-text .socials ul {
    display: none;
  }
  .hero-inner-box span {
    color: orange;
    height: 100px;
  }
  .contact-form {
    margin-bottom: 150px;
  }
  footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */